.product-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4rem;
  margin-top: 5rem;
  padding: 1rem 7rem;
}
//    <<<<<<<<<<< Left Side >>>>>>>>>>>>>
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
.properties {
  margin-bottom: 3rem;
}
.filter-titel {
  margin-bottom: 1rem;
  font-weight: 700;
}
.properties-title {
  text-decoration: underline;
  margin-bottom: 7px;
}
.checkbox-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}
.property-name {
  margin-right: 2.5rem;
}
.manufactory-titel {
  text-decoration: underline;
  margin-bottom: 7px;
}
//    <<<<<<<<<<< Right Side >>>>>>>>>>>>>
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 18rem;
}
.product-card {
  text-align: center;
  border: none;
  line-height: 0.4;
  font-size: 14px;
}
.product-name {
  font-size: 1.3rem;
  line-height: 1;
}
.product-price {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.product-base-price,
.product-delivery {
  color: gray;
}
