.product-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 60px;
  padding: 10px 120px;
}
// Left Side
////////////////////////////////////////////////////////
.filter-titel {
  margin-bottom: 20px;
}
.properties-title {
  text-decoration: underline;
}
.manufactory-titel {
  text-decoration: underline;
}
.properties {
  margin-bottom: 50px;
}
.checkbox-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}
.property-name {
  margin-right: 40px;
}
// Right Side
////////////////////////////////////////////////////////
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 300px;
}
.card {
  text-align: center;
  border: none;
  line-height: 0.4;
  font-size: 14px;
}
.product-name {
  font-size: 22px;
  line-height: 1;
}
.product-price {
  margin-top: 25px;
  font-size: 25px;
  font-weight: 500;
}
.product-base-price,
.product-delivery {
  color: gray;
}
