<div class="product-container">
  <!-- Left Column -->
  <div class="left-container">
    <div class="filters">
      <div class="filter properties">
        <h4 class="filter-titel">Filter</h4>
        <p class="properties-title">Eigenschaften</p>
        <ng-container *ngFor="let option of propertyOptions">
          <div class="checkbox-list">
            <span class="property-name">{{ option.label }}</span>
            <input
              type="checkbox"
              [value]="option.value"
              [(ngModel)]="option.selected"
              (change)="filterProducts()"
            />
          </div>
        </ng-container>
      </div>

      <!-- Manufacturer Filter -->
      <div class="filter manufactory">
        <p class="manufactory-titel">Hersteller</p>
        <ng-container *ngFor="let option of manufacturerOptions">
          <div class="checkbox-list">
            <span>{{ option.label }}</span>
            <input
              type="checkbox"
              [value]="option.value"
              [(ngModel)]="option.selected"
              (change)="filterProducts()"
            />
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Right Column -->
  <div class="right-container">
    <div class="product-grid">
      <div
        class="product-card"
        style="width: 16rem"
        *ngFor="let product of filteredProducts"
      >
        <img class="product-image" [src]="product.image" />
        <div class="product-card-body">
          <p class="product-name">{{ product.name }}</p>
          <p class="product-price">{{ product.price }} €</p>
          <p class="product-base-price">
            {{ product.basePrice.price }}/{{ product.basePrice.unit }}
          </p>
          <p class="product-delivery">Preis inkl. MwSt., zzgl.Versand</p>
        </div>
      </div>
    </div>
  </div>
</div>
